/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Reset ends here */

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 25px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
}

a,
a:visited {
    color: #767676;
    text-decoration: none;
}

a:hover {
    color: #111;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.top-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

.logo {
    background: no-repeat center/contain url(../assets/images/water_drop_black_24dp.svg);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    min-height: 40px;
    min-width: 40px;
    vertical-align: middle;
}

.search {
    box-sizing: border-box;
    display: flex;
    min-width: 100px;
    padding-left: 5px;
    position: relative;
    width: 100%;
}

.search img {
    cursor: pointer;
    left: 25px;
    opacity: 50%;
    position: absolute;
    top: 10px;
}

.search input {
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    height: 40px;
    outline: none;
    padding: 0 60px;
    width: 100%;
}

.search input:hover {
    border: 1px solid #bdbdbd;
}

.search input:focus {
    background-color: #fff;
    border: 1px solid #bdbdbd;
}

.links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}

.top-links {
    height: 35px;
    min-width: 400px;
}

.top-links li {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 0 12px;
}

.top-links li:nth-of-type(3) {
    border-right: 1px solid #76767670;
    padding-right: 30px;
}

.top-links li:nth-of-type(4) {
    padding-left: 30px;
}

.top-links span {
    font-size: 16px;
}

.submit-photo {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-sizing: border-box;
    color: #767676;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    min-width: 120px;
}

.submit-photo:hover {
    border: 1px solid #111;
    color: #111;
}

.menu {
    background: no-repeat center/contain url(../assets/images/menu_black_24dp.svg);
    cursor: pointer;
    display: inline-block;
    margin: 0 20px;
    min-height: 25px;
    min-width: 25px;
    opacity: 60%;
    vertical-align: middle;
}

.menu:hover {
    opacity: 90%;
}

.second-nav {
    align-items: center;
    box-sizing: border-box;
    color: #767676;
    display: flex;
    flex-direction: row;
    height: 56px;
}

.editorial {
    align-items: center;
    color: #111;
    display: flex;
    justify-content: center;
    min-width: 90px;
}

.editorial span {
    align-items: center;
    border-bottom: 2px solid #111;
    box-sizing: border-box;
    display: flex;
    height: 56px;
}

.second-links {
    justify-content: start;
    overflow: hidden;
}

.second-links li {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 35px;
    padding: 0 12.5px;
    white-space: nowrap;
}

.second-links li:first-of-type {
    border-left: 1px solid #d1d1d1;
    padding-left: 25px;
}

.featured {
    top: 72px;
    font-size: 10px;
    position: absolute;
}

.marquee {
    align-items: center;
    background-image: url(../assets/images/waves-tim-marshall.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 590px;
}

.marquee a {
    color: #fffc;
}

.marquee a:hover {
    color: #fff;
}

.marquee-overlay {
    background-color: #0000001e;
    height: 590px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.marquee-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 850px;
    z-index: 10;
}

.marquee-container h2:nth-of-type(2) {
    margin-bottom: 30px;
}

.marquee-search {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin: 0 0 20px 0;
    width: 100%;
}

.marquee-search img {
    cursor: pointer;
    height: 30px;
    opacity: 50%;
    padding: 0 15px;
    position: absolute;
}

.marquee-search input {
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding-left: 60px;
    width: 100%;
}

.marquee-footer {
    box-sizing: border-box;
    color: #ffffff8c;
    display: flex;
    font-size: 13px;
    margin-bottom: 25px;
    padding: 0 20px 0 20px;
    width: 100%;
    z-index: 10;
}

.marquee-footer span {
    flex-grow: 1;
}

.marquee-footer strong {
    color: #fffc;
    cursor: zoom-in;
}

.showcase {
    align-self: center;
    column-count: 3;
    column-gap: 1.5em;
    margin: 50px 10px;
    max-width: 1300px;
    min-width: 70%;
    position: relative;
}

.image {
    cursor: zoom-in;
    margin-bottom: 1.5em;
    position: inherit;
}

.image:hover .image-overlay,
.image:hover .image-buttons {
    opacity: 1;
}

.image img {
    display: block;
    height: 100%;
    width: 100%;
}

.image-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.image-buttons button {
    background-color: #ffffffe6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 32px;
    margin: 2px;
    width: 40px;
}

.image-buttons button:hover {
    background-color: #fff;
}

.image-buttons button:hover svg {
    opacity: 100%;
}

.image-buttons svg {
    opacity: 60%;
}

.top-buttons {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.bottom-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.user {
    align-items: center;
    display: flex;
}

#like {
    box-sizing: border-box;
    margin-right: 6px;
    padding-top: 6px;
}

#add {
    box-sizing: border-box;
    padding-top: 2px;
}

#download {
    box-sizing: border-box;
    padding-top: 2px;
}

.user-image {
    align-items: center;
    background-color: white;
    border-radius: 32px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-info a {
    color: #fffc;
    font-size: 15px;
    opacity: 75%;
}

.user-info a:hover {
    opacity: 100%;
}

.user-available {
    align-items: center;
    display: flex;
    margin-top: 5px;
}

.user-available a {
    font-size: 11px;
}

.user-available svg {
    margin-left: 5px;
    padding-bottom: 1px;
}

.image-overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.34) 100%);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

@media (max-width: 1300px) {
    .marquee-container {
        width: 65%;
    }
}

@media (max-width: 1000px) {
    .marquee-footer span:nth-of-type(2) {
        display: none;
    }

    .showcase {
        column-count: 2;
    }
}